# Project exclude paths
/out/
/target/
/.idea/.gitignore
/.idea/compiler.xml
/e-commerce-shopping.iml
/.idea/artifacts/e_commerce_shopping_Web_exploded.xml
/.idea/encodings.xml
/.idea/jarRepositories.xml
/.idea/jpa-buddy.xml
/.idea/misc.xml
/.idea/vcs.xml
